name: CI/CD (self-hosted)

on:
  pull_request:
  push:
    branches: [master]
  workflow_dispatch:

jobs:
  build:
    name: Build & Push Docker
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push image
        uses: docker/build-push-action@v4
        with:
          context: ./server
          file: ./server/Dockerfile
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/skmz-backend:latest

      - name: Build and push image
        uses: docker/build-push-action@v4
        with:
          context: ./webapp
          file: ./webapp/Dockerfile
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/skmz-frontend:latest

  deploy:
    name: Deploy to Vagrant VM
    runs-on: self-hosted

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Deploy (compose up)
        run: docker compose -f /home/vagrant/skmz/docker-compose.yml up -d --build


    
